<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-black-500">
    <thead class="text-xs text-white uppercase bg-indigo-950">
      <tr>
        @for (column of columns; track $index) {
        <th scope="col" class="px-6 py-3">
          {{ column }}
        </th>
        }
        <th *ngIf="!shouldHideIcon()" scope="col" class="px-6 py-3">Accion</th>
      </tr>
    </thead>
    <tbody>
      @for (row of data; track $index) {
      <tr class="bg-white border-b hover:bg-gray-50">
        @for (column of columns; track $index) {
        <td class="px-6 py-4">
          {{ row[column] }}
        </td>
        }
        <td *ngIf="!shouldHideIcon()" class="px-6 py-4 ">
          <div [routerLink]="['/' + ruta, row.id]">
            <ng-container *ngIf="iconType == 'producto' && !shouldHideIcon()">
              <svg
                class="w-6 h-6 hover:text-teal-800 hover:scale-105 cursor-pointer text-gray-800"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"
                />
              </svg>
            </ng-container>
            <ng-container *ngIf="iconType !== 'producto' && !shouldHideIcon()">
              <svg
                (click)="eliminarUsuario(row.id)"
                class="w-6 h-6 hover:text-teal-800 hover:scale-105 cursor-pointer text-gray-800"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                />
              </svg>
            </ng-container>
          </div>
        </td>
      </tr>
      }@empty {
      <tr class="bg-white border-b hover:bg-gray-50">
        <td class="px-6 py-4">No hay datos disponibles.</td>
      </tr>
      }
    </tbody>
  </table>
</div>
